{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Feedback!{% endblock %}
{% block h1 %}Register{% endblock %}

{% block content %}
<br>

<div class="row">
    <div class="col-sm-3">
        <form method="POST">
            <div class="form-group">
                {{ form.hidden_tag() }}
                
                {% for field in form
                    if field.widget.input_type != 'hidden' %}
            
                {{wtf.form_field(field)}}
            
                {% endfor %}
                <br>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>


{% endblock %}